@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root {
  --headingfontsize: 2.25em;
  --descfontsize: 1.25em;
  --fontsize: 1.05em;
}

html {
    margin: 0;
    min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 164, 111, 0.5), rgba(255, 121, 111, 0.65)),
  url('https://cdn.pixabay.com/photo/2014/07/06/13/55/calculator-385506_960_720.jpg');
  margin: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#container {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

#title {
  text-decoration: underline;
  text-align: center;
  font-size: var(--headingfontsize);
}

#description {
  text-align: center;
  font-size: var(--descfontsize);
}

#form {
  width: 60%;
  margin: 1em auto 0 auto;
  background-image: linear-gradient(to bottom, rgba(255, 164, 111, 1), rgba(255, 121, 111, 1));
  padding: 1em 1em;
  border-radius: 0.25em;
}

.label {
  text-align: left;
  padding: 0.4em;
  font-size: var(--fontsize);
}

#form input {
  height: 2em;
  border-width: 0.2em;
  border-color: rgba(255, 164, 111, 0);
  border-radius: 0.25em;
  width: 90%;
  margin: 0.25em 0.5em 0.25em 0.5em ;
}

#button {
  width: 90%;
  margin: 0.6em;
  height: 2.5em;
  background-color: rgba(255, 164, 111, 1);
  border: 0;
  font-family: inherit;
  font-size: 1.2em;
}

@media (min-width: 600px) {
  #form {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  #form {
    width: 30%;
  }
}
