{% extends "base.html" %}

{% block title %}
<title>Information</title>
{% endblock %}

{% block head %}
    <h1>You need to give us some information so we can calculate your retirement information!</h1>
{% endblock %}

{% block body %}

    <form action="/datainput" method="POST">
        Yearly Savings: <input type="number" name="savingsperyear" id="savingsperyear">
        <br>
        Retirement length: <input type="number" name="retirementlength" id="retirementlength">
        <br>
        Time until retirement: <input type="number" name="savinglength" id="savinglength">
        <br>
        Expected growth of income per year until retirement: <input type="number" name="incomegrowth" id="incomegrowth">
        <br>
        Expected expenditure in retirement: <input type="number" name="retirementcosts" id="retirementcosts">
        <br>
        Investment Growth: <input type="number" name="investmentgrowth" id="investmentgrowth">
        <br>
        Current Savings: <input type="number" name="currentsavings" id="currentsavings">
        <br>
        Eligible for state pension?
        <br>
        <input type="radio" name="statepension" value="yes" id="yes" checked="checked">
        <label for="yes">Yes</label>
        <input type="radio" name="statepension" value="no" id="no">
        <label for="no">No</label>
        
        <br>
        Gender
        <br>
        <input type="radio" value="male" name="gender" id="male" checked="checked">
        <label for="male">Male</label>
        <input type="radio" value="female" name="gender" id="female">
        <label for="female">Female</label>
        <br>
        <input type="submit" value="Submit" id="submit"> 
    </form>

{% endblock %}