{% extends "base.html" %}

{% block head %}
    <title>FAQ</title>
{% endblock %}

{% block body %}
  <div id="container">
    <header id="header">
      <h1 id="title">Banking Optimization Retirement Tracker FAQ</h1>
    </header>
    <form id="form" action="index.html">
      <div id="faq">
        <h2>FAQ</h2>
        <hr>
        <h3>Income</h3>
        <p>Your income is the amount you earn currently per year after taxes, annually. Generally you should try to aim for 25 times your annual income saved for retirement to maintain your current lifestyle sustainably into retirement.</p>
        <hr>
        <h3>Current Savings</h3>
        <p>The current aggregate value of all your savings and investments that you are willing to draw down from. Having a large amount of money saved currently will reduce the future contributions needed to maintain a financially stable and flexible lifestyle in retirement.</p>
        <hr>
        <h3>Yearly Savings</h3>
        <p>This is the amount you have left after all essential and non-essential expenditure yearly, and represents your combined annual savings and investments per year.</p>
        <hr>
        <h3>Safe Withdrawal Rate</h3>
        <p>The safe withdrawal rate is a conservative approach that balances having enough money to live comfortably with not depleting retirement savings prematurely.</p>
        <hr>
        <h3>Income Growth</h3>
        <p>The expected annual increase in your post-tax income per year. This is commonly a result of your income keeping in line with inflation or to reflect your increased skills and experience.</p>
        <hr>
        <h3>Investment Growth</h3>
        <p>The expected annual increase in the value of your investments, as a percentage. This is important as over time this will compound and lead to a high overall return and allow you to accumulate an increasing lump-sum to draw down from in retirement.</p>
        <hr>
        <h3>Expected Income in Retirement</h3>
        <p>The amount of money you would like to live on yearly whilst in retirement. This should be based upon what sort of lifestyle you wish to live in your retirement, but also what lifestyle you would like to continue living in the immediate future, as increased expenditure today means much less money to spend in retirement.</p>
        <hr>
        <h3>Are you eligible for State Pension?</h3>
        <p>The State Pension is a regular payment made by the state to people of or above the official retirement age.<br /><a href="https://www.gov.uk/check-state-pension" target="_blank">See here for further advice</a></p>
        <hr>
        <h3>Retirement Age</h3>
        <p>The Age you wish to retire at-- at this age you are expecting to retire and so reduce earned income to zero and live on a combination of savings and perhaps state pension.</p>
        <hr>
        <h3>Retirement Length</h3>
        <p>How long you expect to be retired for and so have to draw down from your accumulated savings.</p>
        <hr>
      </div>
      <button type="submit" value="return" id="button">Return to Calculation</button>
    </form>
  </div>
{% endblock %}
